<div id="seyrenLight" ng-style="backgroundBlankScreen">
    <div class="info"><a href="http://github.com/m6web/SeyrenLight">SeyrenLight</a> by <a href="http://tech.m6web.fr">M6Web</a></div>
    <div class="grid wall">
        <div ng-repeat="check in checks" class="col-1-{{ checksPerLine }}">
            <div class="check check-color-{{ check.state }}" style="height: {{ oneCheckHeight - 20 }}px; font-size: {{ fontSize }}px;">
                <h2><a href="{{ check.url }}" target="_blank">{{ check.name }}</a></h2>
            </div>
        </div>
    </div>
</div>
