angular.module('config', [])
    .constant('CONFIG', {
        CI: {
            SEYREN: {
                URL: '{#SEYREN_URL#}',
                CHECKS_TO_BE_DISPLAYED: ['ERROR', 'WARN']
            }
        },
        MAX_CHECKS_PER_LINE: 4,
        REFRESH_TIME: 10000,
        BACKGROUND_BLANK_SCREEN_URL: '{#BACKGROUND_URL#}'
    });
